{% extends 'base.html' %}
{% from 'macros/form.html' import render_form %}
{% block title %}添加用户{% endblock %}

{% block style %}
    <style type="text/css">

    </style>
{% endblock %}


{% block currentPage %}添加用户{% endblock %}
{% block topPage %}系统管理{% endblock %}
{% block secondPage %}添加用户{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <!-- form start -->
                        {{ render_form(form, None, url_for('user.add_user'), url_for('user.user_manager')) }}
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
{% endblock %}