{% extends 'base.html' %}

{% block title %}角色绑定{% endblock %}


{% block currentPage %}角色绑定{% endblock %}
{% block topPage %}系统管理{% endblock %}
{% block secondPage %}绑定角色{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">角色绑定</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="card" style="height: 400px">
                                <div class="card-header">
                                    <h3 class="card-title">用户</h3>
                                </div>
                                <div class="card-body">
                                    test
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="card" style="height: 400px;">
                                <div class="card-body">
                                    <div class="row">
                                        <a class="fa fa-arrow-left nac-icon align-middle" aria-hidden="true"></a>
                                    </div>
                                    <div class="row">
                                        <a class="fa fa-arrow-right nac-icon align-middle" aria-hidden="true"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="card" style="height: 400px">
                                <div class="card-header">
                                    <h3 class="card-title">用户</h3>
                                </div>
                                <div class="card-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}