{% extends 'base.html' %}

{% block title %}角色绑定{% endblock %}

{% block style %}
    <style type="text/css">

    </style>
{% endblock %}


{% block currentPage %}角色绑定{% endblock %}
{% block topPage %}系统管理{% endblock %}
{% block secondPage %}绑定角色{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                {% include 'modules/transfer.html' %}
                <a type="button" class="btn btn-primary float-right" href="{{ url_for('role.role_manager') }}">返回</a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}