{% extends 'base.html' %}
{% from 'macros/form.html' import render_form %}
{% from 'macros/breadcrumb.html' import render_breadcrumb %}

{% block title %}角色编辑{% endblock %}

{% block breadcrumb %}
    {{ render_breadcrumb('系统管理', '角色编辑') }}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="card">
                            <!-- /.card-header -->
                            {{ render_form(form, role, url_for('role.edit_role', role_id=role.id), url_for('role.role_manager')) }}
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
{% endblock %}