{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}

{% block title %}权限管理{% endblock %}
{% block currentPage %}权限管理{% endblock %}
{% block topPage %}系统管理{% endblock %}
{% block secondPage %}权限管理{% endblock %}


{% block content %}

    <!-- Main content -->
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">权限列表</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row operation mb-3">
                    <a type="button" class="btn btn-success ml-2" href="{{ url_for('perm.add_perm') }}">添加</a>
                </div>
                <table id="role-table" class="table table-bordered table-hover text-center dataTable">
                    <thead>
                    <tr>
                        <td>序号</td>
                        <td>权限名</td>
                        <td>权限点</td>
                        <td>类型</td>
                        <td>描述</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for perm in perms %}
                        <tr>
                            <td>{{ perm.id }}</td>
                            <td>{% if perm.name %}{{ perm.name }}{% else %}无{% endif %}</td>
                            <td>{% if perm.url %}{{ perm.url }}{% else %}无{% endif %}</td>
                            <td>{% if perm.type %}{{ perm.type }}{% else %}无{% endif %}</td>
                            <td>{% if perm.desc %}{{ perm.desc }}{% else %}无{% endif %}</td>
                            <td style="width: 290px;">
                                <a type="button" class="btn btn-sm btn-primary ml-1"
                                   href="{{ url_for('perm.edit_perm', perm_id=perm.id) }}">修改</a>
                                <a type="button" class="btn btn-sm btn-danger ml-1"
                                   href="{{ url_for('perm.delete_perm', perm_id=perm.id) }}"
                                   onclick="return confirm('确定删除')">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ render_pagination(pagination, 'perm.perm_manager') }}
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    <!-- /.content -->
{% endblock %}


{% block include_js %}
    <script src="{{ url_for('static', filename='plugins/jsgrid/jsgrid.min.js') }}"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}