{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}
{% from 'macros/breadcrumb.html' import render_breadcrumb %}

{% block title %}角色管理{% endblock %}

{% block breadcrumb %}
    {{ render_breadcrumb('系统管理', '角色管理') }}
{% endblock %}


{% block include_css %}
    <!-- jsGrid -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jsgrid/jsgrid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jsgrid/jsgrid-theme.min.css') }}">
{% endblock %}

{% block currentPage %}角色管理{% endblock %}
{% block topPage %}系统管理{% endblock %}
{% block secondPage %}角色管理{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">角色列表</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row operation mb-4">
                    <a type="button" class="btn btn-success ml-2" href="{{ url_for('role.add_role') }}">添加</a>
                </div>
                <table id="role-table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ role.name }}</td>
                            <td>{{ role.desc }}</td>
                            <td style="width: 350px;">
                                <a type="button" class="btn btn-sm btn-primary ml-1"
                                   href="{{ url_for('role.edit_role', role_id=role.id) }}">修改</a>
                                <a type="button" class="btn btn-sm btn-success ml-1"
                                   href="{{ url_for('role.bind_user', role_id=role.id) }}">绑定用户</a>
                                <a type="button" class="btn btn-sm btn-info ml-1"
                                   href="{{ url_for('role.bind_perms', role_id=role.id) }}">绑定权限</a>
                                <a type="button" class="btn btn-sm btn-danger ml-1"
                                   href="{{ url_for('role.delete_role', role_id=role.id) }}"
                                   onclick="return confirm('确定删除')">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ render_pagination(pagination, 'role.role_manager') }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block include_js %}
    <script src="{{ url_for('static', filename='plugins/jsgrid/jsgrid.min.js') }}"></script>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}