{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}

{% block title %}用户管理{% endblock %}
{% block currentPage %}用户管理{% endblock %}
{% block topPage %}系统管理{% endblock %}
{% block secondPage %}用户管理{% endblock %}

{% block content %}

    <!-- Main content -->
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">用户列表</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row operation mb-4">
                    <a type="button" class="btn btn-success ml-2" href="{{ url_for('user.add_user') }}">添加</a>
                </div>
                <table id="role-table" class="table table-bordered table-hover text-center">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>角色</th>
                        <th>用户昵称</th>
                        <th>邮箱</th>
                        <th>头像</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{% if user.role %}{{ user.role.name }}{% else %}无{% endif %}
                            </td>
                            <td>{% if user.nickname %}{{ user.nickname }}{% else %}无{% endif %}</td>
                            <td>{{ user.email }}</td>
                            <td><img src="{{ user.gravatar }}" class="logo-sm"></td>
                            <td>
                                {% if user.is_active %}
                                    <span class="badge badge-pill badge-success">已激活</span>
                                {% else %}
                                    <span class="badge badge-pill badge-danger">已禁用</span>
                                {% endif %}
                            </td>
                            <td style="width: 290px;">
                                <a type="button" class="btn btn-sm btn-primary ml-1"
                                   href="{{ url_for('user.edit_user', user_id=user.id) }}">修改</a>
                                <a type="button" class="btn btn-sm btn-danger ml-1"
                                   href="{{ url_for('user.delete_user', user_id=user.id) }}"
                                   onclick="return confirm('确定删除?')">删除</a>
                                {% if not user.is_active %}
                                    <a type="button" class="btn btn-sm btn-success ml-1"
                                       href="{{ url_for('user.active_user', user_id=user.id) }}">激活</a>
                                {% else %}
                                    <a type="button" class="btn btn-sm btn-warning ml-1"
                                       href="{{ url_for('user.active_user', user_id=user.id) }}">禁用</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ render_pagination(pagination, 'user.user_manager') }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.content -->
{% endblock %}

{% block include_js %}
    <script src="{{ url_for('static', filename='plugins/jsgrid/jsgrid.min.js') }}"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}