{% extends 'base.html' %}
{% from 'macros/form.html' import render_form %}
{% from 'macros/breadcrumb.html' import render_breadcrumb %}

{% block title %}修改标签{% endblock %}

{% block breadcrumb %}
    {{ render_breadcrumb('资产管理', '修改标签') }}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <!-- form start -->
                        {{ render_form(form, None, url_for('tag.edit_tag', tag_id=tag.id), url_for('tag.tag_manager')) }}
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
{% endblock %}