{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}
{% from 'macros/breadcrumb.html' import render_breadcrumb %}

{% block title %}IDC管理{% endblock %}

{% block breadcrumb %}
    {{ render_breadcrumb('系统管理', 'IDC管理') }}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">IDC列表</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row operation mb-4">
                    <a type="button" class="btn btn-success ml-2" href="{{ url_for('idc.add_idc') }}">添加</a>
                </div>
                <table id="role-table" class="table table-bordered table-hover text-center">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>区域</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pagination.items %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name or ''}}</td>
                            <td>
                                {% if item.area.find('云') != -1 %}
                                    <i class="fa fa-cloud"></i>&nbsp;&nbsp;
                                {% else %}
                                    <i class="fa fa-warehouse"></i>&nbsp;&nbsp;
                                {% endif %}
                                {{ item.area }}
                            </td>
                            <td>{{ item.desc or '无' }}</td>
                            <td style="width: 290px;">
                                <a type="button" class="btn btn-sm btn-primary ml-1"
                                   href="{{ url_for('idc.edit_idc', idc_id=item.id) }}">修改</a>
                                <a type="button" class="btn btn-sm btn-danger ml-1"
                                   href="{{ url_for('idc.delete_idc', idc_id=item.id) }}"
                                   onclick="return confirm('确定删除?')">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ render_pagination(pagination, 'idc.idc_manager') }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.content -->
{% endblock %}