{% extends 'base.html' %}

{% block title %}软件管理{% endblock %}
{% block currentPage %}软件管理{% endblock %}
{% block topPage %}资产管理{% endblock %}
{% block secondPage %}软件管理{% endblock %}


{% block content %}

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <h2>软件管理</h2>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}