{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}
{% from 'macros/breadcrumb.html' import render_breadcrumb %}

{% block title %}标签管理{% endblock %}

{% block breadcrumb %}
    {{ render_breadcrumb('系统管理', '标签管理') }}
{% endblock %}

{% block content %}

    <!-- Main content -->
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">标签列表</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row operation mb-4">
                    <a type="button" class="btn btn-success ml-2" href="{{ url_for('tag.add_tag') }}">添加</a>
                </div>
                <table id="role-table" class="table table-bordered table-hover text-center">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>标签名</th>
                        <th>类型</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pagination.items %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name or '无' }}</td>
                            <td>
                                {% if item.type == 'host' %}
                                    <i class="fa fa-server"></i>&nbsp;&nbsp;主机
                                {% else %}
                                    <i class="fa fa-database"></i>&nbsp;&nbsp;数据库
                                {% endif %}
                            </td>
                            <td>{{ item.desc or '无' }}</td>
                            <td style="width: 290px;">
                                <a type="button" class="btn btn-sm btn-primary ml-1"
                                   href="{{ url_for('tag.edit_tag', tag_id=item.id) }}">修改</a>
                                <a type="button" class="btn btn-sm btn-danger ml-1"
                                   href="{{ url_for('tag.delete_tag', tag_id=item.id) }}"
                                   onclick="return confirm('确定删除?')">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ render_pagination(pagination, 'tag.tag_manager') }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.content -->
{% endblock %}