<div class="transfer">
    <input type="hidden" id="role_id" value="{{ role.id }}">
    <input type="hidden" id="url" value="{{ url_for('role.bind_user', role_id=role.id) }}">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <div class="card" style="height: 400px">
                <div class="card-header">
                    <div class="transfer-item custom-control custom-checkbox">
                        <input class="custom-control-input select-all" type="checkbox" id="left-all">
                        <label class="custom-control-label" for="left-all" style="display: block">
                        </label>
                        <h3 class="card-title float-left">{{ left_title }}</h3>
                    </div>
                </div>
                <div class="card-body overflow-auto" id="left-body">
                    {% for item in unbinds %}
                        {% set item_id = item.username + item.id|string %}
                        <div class="transfer-item custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"  id="{{ item.id }}">
                            <label class="custom-control-label" for="{{ item.id }}" style="display: block">
                                {{ item.username }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card" style="border: none !important; box-shadow: none !important;">
                <div class="card-body" style="height: 400px;">
                    <div class="vertical-middle mb-2" style="margin-top: 140px;">
                        <a class="btn btn-outline-success" id="to-left">
                            <i class="fa fa-arrow-left fa-1x nac-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="vertical-middle">
                        <a class="btn btn-outline-success" id="to-right">
                            <i class="fa fa-arrow-right fa-1x nac-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="height: 400px">
                <div class="card-header">
                    <div class="transfer-item custom-control custom-checkbox">
                        <input class="custom-control-input select-all" type="checkbox" id="right-all">
                        <label class="custom-control-label" for="right-all" style="display: block">
                            <h3 class="card-title">{{ right_title }}</h3>
                        </label>
                    </div>
                </div>
                <div class="card-body" id="right-body">
                    {% for item in binds %}
                        <div class="transfer-item custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="{{ item.id }}">
                            <label class="custom-control-label" for="{{ item.id }}" style="display: block">
                                {{ item.username }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>