<div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <div class="card" style="height: 400px">
                <div class="card-header">
                    <h3 class="card-title">{{ left_title }}</h3>
                </div>
                <div class="card-body">
                    <div class="transfer-item custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="test1">
                        <label class="custom-control-label" for="test1" style="display: block">
                            test
                        </label>
                    </div>
                    <div class="transfer-item custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="test2">
                        <label class="custom-control-label" for="test2" style="display: block">
                            test
                        </label>
                    </div>
                    <div class="transfer-item custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="test3">
                        <label class="custom-control-label" for="test3" style="display: block">
                            test
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card" style="border: none !important; box-shadow: none !important;">
                <div class="card-body" style="height: 400px;">
                    <div class="vertical-middle mb-2" style="margin-top: 140px;">
                        <a class="btn btn-outline-success">
                            <i class="fa fa-arrow-left fa-1x nac-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="vertical-middle">
                        <a class="btn btn-outline-success">
                            <i class="fa fa-arrow-right fa-1x nac-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="height: 400px">
                <div class="card-header">
                    <h3 class="card-title">{{ right_title }}</h3>
                </div>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>